# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep='\t')

### Step 4. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [12]:
chipo.shape

(4622, 5)

### Step 6. What is the number of columns in the dataset?

In [13]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [14]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [15]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most ordered item?

In [16]:
chipo.groupby("item_name").sum().sort_values(['quantity'],ascending=False).head(1)

c=chipo.groupby('item_name')
c=c.sum()
c=c.sort_values(['quantity'],ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. How many items were ordered?

In [50]:
x=chipo.groupby("item_name").sum()
print(x)

                                       order_id  quantity
item_name
6 Pack Soft Drink                         52322        55
Barbacoa Bowl                             53972        66
Barbacoa Burrito                          74718        91
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Barbacoa Soft Tacos                       18725        25
Bottled Water                            175944       211
Bowl                                        472         4
Burrito                                    1550         6
Canned Soda                               76396       126
Canned Soft Drink                        304753       351
Carnitas Bowl                             62742        71
Carnitas Burrito                          51652        60
Carnitas Crispy Tacos                      5868         8
Carnitas Salad                             1500         1
Carnitas Salad Bowl                        6693         6
Carnitas Soft Tacos                       37673        40
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chicken Crispy Tacos                      47382        50
Chicken Salad                             10465         9
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Chips                                    208004       230
Chips and Fresh Tomato Salsa             100419       130
Chips and Guacamole                      449959       506
Chips and Mild Fresh Tomato Salsa           279         1
Chips and Roasted Chili Corn Salsa        14999        23
Chips and Roasted Chili-Corn Salsa        17462        18
Chips and Tomatillo Green Chili Salsa     41170        45
Chips and Tomatillo Red Chili Salsa       45556        50
Chips and Tomatillo-Green Chili Salsa     21826        33
Chips and Tomatillo-Red Chili Salsa       18344        25
Crispy Tacos                                434         2
Izze                                      10587        20
Nantucket Nectar                          21814        29
Salad                                      1150         2
Side of Chips                             84769       110
Steak Bowl                               193752       221
Steak Burrito                            328437       386
Steak Crispy Tacos                        35818        36
Steak Salad                                2362         4
Steak Salad Bowl                          29590        31
Steak Soft Tacos                          50177        56
Veggie Bowl                               72270        87
Veggie Burrito                            80962        97
Veggie Crispy Tacos                         668         1
Veggie Salad                               7265         6
Veggie Salad Bowl                         17303        18
Veggie Soft Tacos                          5520         8

In [8]:
chipo.item_name.value_counts().head(10)

Chicken Bowl                    726
Chicken Burrito                 553
Chips and Guacamole             479
Steak Burrito                   368
Canned Soft Drink               301
Steak Bowl                      211
Chips                           211
Bottled Water                   162
Chicken Soft Tacos              115
Chips and Fresh Tomato Salsa    110
Name: item_name, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [47]:
chipo.groupby("choice_description").sum().sort_values(['quantity'],ascending=False).head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [19]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

In [25]:
chipo.item_price.str.replace('$','').astype(float)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
5       10.98
6        1.69
7       11.75
8        9.25
9        9.25
10       4.45
11       8.75
12       8.75
13      11.25
14       4.45
15       2.39
16       8.49
17       8.49
18       2.18
19       8.75
20       4.45
21       8.99
22       3.39
23      10.98
24       3.39
25       2.39
26       8.49
27       8.99
28       1.09
29       8.49
        ...
4592    11.75
4593    11.75
4594    11.75
4595     8.75
4596     4.45
4597     1.25
4598     1.50
4599     8.75
4600     4.45
4601     1.25
4602     9.25
4603     9.25
4604     8.75
4605     4.45
4606     1.25
4607    11.75
4608    11.25
4609     1.25
4610    11.75
4611    11.25
4612     9.25
4613     2.15
4614     1.50
4615     8.75
4616     4.45
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

### Step 14. How much was the revenue for the period in the dataset?

In [26]:
chipo.item_price.str.replace('$','').astype(float).sum()

34500.16

### Step 15. How many orders were made in the period?

In [63]:
chipo.order_id.nunique()

1834

### Step 16. What is the average amount per order?

In [82]:
chipo.groupby('order_id').mean()

          quantity  item_price
order_id
1         1.000000    2.890000
2         2.000000   16.980000
3         1.000000    6.335000
4         1.000000   10.500000
5         1.000000    6.850000
6         1.000000    8.750000
7         1.000000    7.850000
8         1.000000    5.440000
9         1.500000    5.335000
10        1.000000    6.600000
11        1.000000    6.190000
12        1.000000    7.185000
13        1.000000    5.440000
14        1.000000    5.040000
15        1.000000    5.440000
16        1.000000    5.340000
17        1.000000    5.040000
18        1.000000    6.225000
19        1.000000    6.950000
20        1.000000    9.050000
21        1.000000    7.786667
22        1.000000    6.490000
23        1.500000    5.585000
24        1.000000    6.035000
25        1.000000    5.690000
26        1.000000   10.250000
27        1.000000    6.950000
28        1.000000    8.425000
29        1.000000    8.990000
30        1.000000    7.786667
...            ...         ...
1805      1.000000   10.000000
1806      1.000000    3.250000
1807      1.000000    9.320000
1808      1.000000    6.850000
1809      1.000000    4.816667
1810      1.000000   11.500000
1811      1.000000    9.750000
1812      1.333333    7.500000
1813      2.000000   17.500000
1814      1.000000    6.850000
1815      1.000000    6.250000
1816      1.000000    6.600000
1817      1.000000    3.250000
1818      1.000000    9.070000
1819      1.000000    6.600000
1820      1.000000    6.250000
1821      1.000000    6.850000
1822      1.333333    7.666667
1823      1.000000    4.050000
1824      1.000000    8.983333
1825      1.000000   11.083333
1826      1.000000    3.987500
1827      1.000000    6.590000
1828      1.000000    4.816667
1829      1.000000    8.083333
1830      1.000000   11.500000
1831      1.000000    4.300000
1832      1.000000    6.600000
1833      1.000000   11.750000
1834      1.000000    9.583333

[1834 rows x 2 columns]

### Step 17. How many different items are sold?

In [62]:
chipo.item_name.nunique()

50