In [9]:
#Pandas
import numpy as np
import pandas as pd
s = pd.Series((1,2,3,4,5))
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [4]:
s.values

array([1, 2, 3, 4, 5])

In [5]:
pd.read_csv?

In [14]:
s = pd.Series(np.random.rand(5),('a','b','c','d','e'))
print(s)

a    0.511210
b    0.829357
c    0.777120
d    0.439251
e    0.354175
dtype: float64

In [18]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [16]:
s.values

array([0.51120974, 0.82935683, 0.77712048, 0.43925103, 0.35417548])

In [19]:
type(s)

pandas.core.series.Series

In [20]:
s.dtype

dtype('float64')

In [23]:
s.copy?

In [21]:
s.mean()

0.5822227133986548

In [22]:
s.sum()

2.911113566993274

In [23]:
a = dict(s)

In [24]:
print(a)

{'a': 0.5112097449324139, 'b': 0.8293568338140588, 'c': 0.7771204758752999, 'd': 0.4392510302517284, 'e': 0.3541754821197729}

In [25]:
s1 = pd.Series(a)

In [26]:
print(s1)

a    0.511210
b    0.829357
c    0.777120
d    0.439251
e    0.354175
dtype: float64

In [1]:
s1.reindex(['e','b'])

NameError: name 's1' is not defined

In [29]:
pd.Series.reindex?

In [30]:
dataf = pd.DataFrame({'first': s1+s1,'second': s1*s1})

In [31]:
dataf

      first    second
a  1.022419  0.261335
b  1.658714  0.687833
c  1.554241  0.603916
d  0.878502  0.192941
e  0.708351  0.125440

In [34]:
dataf.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [33]:
dataf.dtypes

first     float64
second    float64
dtype: object

In [35]:
dataf.columns

Index(['first', 'second'], dtype='object')

In [36]:
dataf['three'] = s*s*s

In [49]:
dataf

      first    second     three
a  1.022419  0.261335  0.133597
b  1.658714  0.687833  0.570459
c  1.554241  0.603916  0.469316
d  0.878502  0.192941  0.084750
e  0.708351  0.125440  0.044428

In [44]:
type(dataf)

pandas.core.frame.DataFrame

In [45]:
dataf.second

a    0.261335
b    0.687833
c    0.603916
d    0.192941
e    0.125440
Name: second, dtype: float64

In [46]:
dataf.drop('a')

      first    second     three
b  1.658714  0.687833  0.570459
c  1.554241  0.603916  0.469316
d  0.878502  0.192941  0.084750
e  0.708351  0.125440  0.044428

In [47]:
dataf.drop('first',axis = 1)

     second     three
a  0.261335  0.133597
b  0.687833  0.570459
c  0.603916  0.469316
d  0.192941  0.084750
e  0.125440  0.044428

In [51]:
dataf.mean(axis = 0)

first     1.164445
second    0.374293
three     0.260510
dtype: float64

In [53]:
dataf.mean(axis = 1)

a    0.472451
b    0.972335
c    0.875824
d    0.385398
e    0.292740
dtype: float64

In [52]:
dataf.apply(np.mean,axis = 1)

a    0.472451
b    0.972335
c    0.875824
d    0.385398
e    0.292740
dtype: float64

In [43]:
dataf.median()

first     1.022419
second    0.261335
three     0.133597
dtype: float64

In [54]:
dataf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to e
Data columns (total 3 columns):
first     5 non-null float64
second    5 non-null float64
three     5 non-null float64
dtypes: float64(3)
memory usage: 320.0+ bytes

In [55]:
dataf.describe()

          first    second     three
count  5.000000  5.000000  5.000000
mean   1.164445  0.374293  0.260510
std    0.420178  0.254268  0.241536
min    0.708351  0.125440  0.044428
25%    0.878502  0.192941  0.084750
50%    1.022419  0.261335  0.133597
75%    1.554241  0.603916  0.469316
max    1.658714  0.687833  0.570459

In [74]:
pd.DataFrame.drop?

In [58]:
dataf.apply(min,axis = 1)

a    0.133597
b    0.570459
c    0.469316
d    0.084750
e    0.044428
dtype: float64

In [77]:
#On each column 

#find the sum of (sum of the data with its mean)

In [57]:
xrange?

Object `xrange` not found.