In [7]:
import numpy as np
import pandas as pd

In [8]:
s = pd.Series((1,2,3,4,5))
print(s)
s.index
#s.values

0    1
1    2
2    3
3    4
4    5
dtype: int64

RangeIndex(start=0, stop=5, step=1)

In [9]:
data = np.array(['x','y','z','v','u'])
t = pd.Series(data,index=[10,11,12,13,14])
print(t)
t.index
#t.values

10    x
11    y
12    z
13    v
14    u
dtype: object

Int64Index([10, 11, 12, 13, 14], dtype='int64')

In [10]:
type(s)
s.dtypes

dtype('int64')

In [11]:
type(t)
t.dtypes

dtype('O')

In [12]:
a=s.copy
print(a)

<bound method NDFrame.copy of 0    1
1    2
2    3
3    4
4    5
dtype: int64>

In [13]:
s.mean()

3.0

In [14]:
s.median()

3.0

In [15]:
s.sum()

15

In [17]:
b = dict(s)

In [18]:
print(b)

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5}

In [21]:
x = pd.Series(np.random.rand(5),('a','b','c','d','e'))
print(x)

a    0.589236
b    0.589893
c    0.988974
d    0.182522
e    0.206770
dtype: float64

In [27]:
b1 = pd.Series(x)
print(b1)

a    0.589236
b    0.589893
c    0.988974
d    0.182522
e    0.206770
dtype: float64

In [28]:
b1.reindex(['c','e'])

c    0.988974
e    0.206770
dtype: float64

In [31]:
dataf=pd.DataFrame({'first': b1+b1 ,'second': b1*b1 })
dataf

      first    second
a  1.178471  0.347199
b  1.179785  0.347973
c  1.977948  0.978069
d  0.365044  0.033314
e  0.413539  0.042754

In [34]:
dataf.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [41]:
dataf.second

a    0.347199
b    0.347973
c    0.978069
d    0.033314
e    0.042754
Name: second, dtype: float64

In [43]:
dataf['three']=b1*b1*b1

In [44]:
dataf

      first    second     three
a  1.178471  0.347199  0.204582
b  1.179785  0.347973  0.205267
c  1.977948  0.978069  0.967285
d  0.365044  0.033314  0.006081
e  0.413539  0.042754  0.008840

In [35]:
dataf.add_suffix(22)

    first22  second22
a  1.178471  0.347199
b  1.179785  0.347973
c  1.977948  0.978069
d  0.365044  0.033314
e  0.413539  0.042754

In [48]:
dataf.drop('a')

      first    second     three
b  1.179785  0.347973  0.205267
c  1.977948  0.978069  0.967285
d  0.365044  0.033314  0.006081
e  0.413539  0.042754  0.008840

In [54]:
dataf.drop('first',axis = 1)

     second     three
a  0.347199  0.204582
b  0.347973  0.205267
c  0.978069  0.967285
d  0.033314  0.006081
e  0.042754  0.008840

In [55]:
dataf.mean(axis=0)

first     1.022957
second    0.349862
three     0.278411
dtype: float64

In [56]:
dataf.mean(axis=1)

a    0.576750
b    0.577675
c    1.307768
d    0.134813
e    0.155044
dtype: float64

In [57]:
dataf.apply(np.mean,axis=1)

a    0.576750
b    0.577675
c    1.307768
d    0.134813
e    0.155044
dtype: float64

In [59]:
dataf.median()

first     1.178471
second    0.347199
three     0.204582
dtype: float64

In [60]:
dataf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to e
Data columns (total 3 columns):
first     5 non-null float64
second    5 non-null float64
three     5 non-null float64
dtypes: float64(3)
memory usage: 320.0+ bytes

In [61]:
dataf.describe()

          first    second     three
count  5.000000  5.000000  5.000000
mean   1.022957  0.349862  0.278411
std    0.664272  0.383788  0.397549
min    0.365044  0.033314  0.006081
25%    0.413539  0.042754  0.008840
50%    1.178471  0.347199  0.204582
75%    1.179785  0.347973  0.205267
max    1.977948  0.978069  0.967285

In [62]:
dataf.std()

first     0.664272
second    0.383788
three     0.397549
dtype: float64