In [1]:
import pandas as pd

In [12]:
data = pd.read_csv("ign.csv")
data.head()

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,2,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12
3,3,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11
4,4,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11

In [14]:
data.iloc[:6,2:4]

,title,url
0,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907
1,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...
2,Splice: Tree of Life,/games/splice/ipad-141070
3,NHL 13,/games/nhl-13/xbox-360-128182
4,NHL 13,/games/nhl-13/ps3-128181
5,Total War Battles: Shogun,/games/total-war-battles-shogun/mac-142565

In [15]:
data.columns

Index(['Unnamed: 0', 'score_phrase', 'title', 'url', 'platform', 'score',
       'genre', 'editors_choice', 'release_year', 'release_month',
       'release_day'],
      dtype='object')

In [16]:
data.index

RangeIndex(start=0, stop=18625, step=1)

In [23]:
data.loc[:9,['url','release_year']]

                                                 url  release_year
0             /games/littlebigplanet-vita/vita-98907          2012
1  /games/littlebigplanet-ps-vita-marvel-super-he...          2012
2                          /games/splice/ipad-141070          2012
3                      /games/nhl-13/xbox-360-128182          2012
4                           /games/nhl-13/ps3-128181          2012
5         /games/total-war-battles-shogun/mac-142565          2012
6          /games/double-dragon-neon/xbox-360-131320          2012
7                      /games/guild-wars-2/pc-896298          2012
8               /games/double-dragon-neon/ps3-131321          2012
9          /games/total-war-battles-shogun/pc-142564          2012

In [15]:
def getupper(a):
    b=[]
    print(a)
    for i in a:
        print(i)
        if i.isupper():
            b.append(i)
            return b

In [16]:
a=['A','b','C']
getupper(a)

['A', 'b', 'C']
A

['A']

In [17]:
a=['a','B','c','D','e','F']
b=[x for x in a if x.isupper()]
print(b)

['B', 'D', 'F']

In [18]:
data=['a','B','c','D','E','f','G']
var=[x for x in data if x.isupper()]
print(var)

['B', 'D', 'E', 'G']

In [89]:
def get_max(a):
    u=[]
    l=[]
    for i in a:
        if i==i.upper():
            u.append(i)
        else:
            l.append(i)
    if len(u) > len(l):
        return u
    else:
        return l

a=['a','B','c','D','e','F']
get_max(a)

['a', 'c', 'e']

In [100]:
dat=['apple','Mango','orange','Strawberry']
print(dat)
list(filter(lambda x: (x[0].isupper() and x[-1].islower()),dat ))

['apple', 'Mango', 'orange', 'Strawberry']

['Mango', 'Strawberry']

In [23]:
data=['Senthil','Shiva','rAja','Kumar']
list(filter(lambda x: (x[1].isupper() and x[-1].islower()),data))

['rAja']

In [105]:
var = "sample"
a= len(var)
print(a)
var2=""
for i in var:
    var2=i + var2
    
print(var2)

6
elpmas

In [110]:
a=[1,2,3,6,7,8,10]
print(list(map(lambda x: x*5+10,a)))

[15, 20, 25, 40, 45, 50, 60]

In [144]:
a=[1,2,1,2,2,2,1,1,2,2,3,2,1,5]
print(list(map(a.count,a)))
cnt_val=max(list(map(a.count,a)))
print(cnt_val)
list(set(filter(lambda x: a.count(x) == cnt_val,a)))

[5, 7, 5, 7, 7, 7, 5, 5, 7, 7, 1, 7, 5, 1]
7

[2]

In [2]:
x =['ab','cd']
print(len(map(list(x))))

TypeError: map() must have at least two arguments.